@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body, html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100vw;
}
body {
    overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}

.containers {
    display: flex;
    flex-direction: column;
    width: 100vw;
}


.container1 {
    height: 100vh;
    width: 100vw;
    background-color: #f3decb;
    position: relative;
    top: 0;
}

.team-icon {
    position: relative;
    width: 70px;
    border-radius: 50%;
    top: 20px;
    right: -20px;
    animation: team-icon-rotate 2.5s linear infinite;
}

.meet-container {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.meet-text-container {
    width: 100vw;
    position: absolute;
    bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 110px;
    height: calc(100% - 110px);
}

.meet-text {
    border-radius: 20px;
    font-weight: 100;
    padding: 30px;
    font-size: 23px;
    width: 70%;
    position: relative;
    text-align: justify;
    background-color: #ff9d4d;
    box-shadow: 2px 5px rgb(243, 184, 107),
                3px 6px rgb(243, 184, 107),
                5px 10px rgb(243, 184, 107),
                7px 12px rgb(243, 184, 107);
    line-height: 35px;
}


.meet-our-team {
    margin-bottom: 50px;
    font-size: 40px;
    position: relative;
    top: 25px;
}
  

.container2 {
    width: 100vw;
    background-color: #0b2e26;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 150px;
}

.attr-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

.attr-title-flex {
    box-shadow: 2px 5px #6d827d,
    3px 6px #6d827d,
    5px 10px #6d827d,
    7px 12px #6d827d;
    border-radius: 10px;
    width: 65%;
    background-color:#c2c9c7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light {
    background-color: #ffc290 !important;
    box-shadow: 2px 5px #ff9d4d,
    3px 6px #ff9d4d,
    5px 10px #ff9d4d,
    7px 12px #ff9d4d;
}

.attr-text-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attr-text {
    color: #160c07;
    width: 90%;
    text-align: justify;
    padding-bottom: 15px;
    font-size: 15px;
}

.arrow-container {
    width: 100vw;
    height: 200px;
}
.arrow {
    margin-top: 5px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}

.arrow1 {
    left: -70px;
    width: 100px;
    height: 200px;
    background-image: url('./assets/arrow1.png');
}

.arrow2 {
    left: 150px;
    width: 100px;
    height: 200px;
    background-image: url('./assets/arrow2.png');
}

.arrow3 {
    left: -80px;
    width: 100px;
    height: 200px;
    background-image: url('./assets/arrow3.png');
}

.arrow4 {
    left: 160px;
    width: 100px;
    height: 200px;
    background-image: url('./assets/arrow4.png');
}

.arrow5 {
    left: -150px;
    width: 100px;
    height: 200px;
    background-image: url('./assets/arrow5.png');
}


.attr-title {
    border-bottom: 2px solid #af441a;
    margin-bottom: 15px;
    padding-top: 15px;
    color: #160c07;
}

.attr-img-science {
    width: 40%;
    height: 40%;
}


@media screen
and (min-width: 800px) {
    .attr-text {
        font-size: 18px;
    }
}
@media screen
and (min-width: 1300px) {
    .attr-text {
        font-size: 22px;
    }
}
@media screen
and (min-width: 0px)
and (max-width: 500px) {
    .attr-title-flex {
        width: 95%;
    }
}
@media screen
and (min-width: 0px)
and (max-width: 398px) {
    .meet-text {
        font-size: 13px;
        line-height: 21px;
       width: 90%;
    }
}
@media screen
and (min-width: 399px)
and (max-width: 999px) {
    .meet-text {
        font-size: 16px;
        line-height: 22px;
        width: 85%;
    }
}
@media screen
and (min-width: 1300px){
    .meet-text {
        font-size: 25px;
        line-height: 30px;
    }
}
@media screen
and (max-height: 568px) {
    .container1 {
        height: 568px;
    }
}
@media screen 
and (max-width: 480px){
    .meet-our-team {
        font-size: 25px;
    }
}

@keyframes team-icon-rotate {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(-20deg);}
    30% {transform: rotate(-23deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(20deg);}
    80% {transform: rotate(23deg);}
    100% {transform: rotate(0deg);}
}