@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body, html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100vw;
}
body {
    overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.containers {
    width: 100vw;
    background-color: #0b2e26;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 150px;
}

.engineering-title-flex {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 900;
    border-bottom: 2px solid #af441a;
}

.engineering-title {
    color: rgb(235, 235, 235);
}

.container {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-title-flex {
    width: 92%;
    box-shadow: 2px 5px #979796,
    3px 6px #969797,
    5px 10px #969797,
    7px 12px #969797;
    border-radius: 10px;
    background-color: #ccd3d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 20px;
}

.container-title {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
    padding-bottom: 10px;
}
.container-text {
    font-size: 22px;
}
.overview-img {
    margin-top: 30px;
    width: 50%;
    margin-left: 10px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 5px rgb(243 184 107), 
    3px 6px rgb(243 184 107), 
    5px 10px rgb(243 184 107), 
    7px 12px rgb(243 184 107);
}

.figure-number {
    font-weight: 900;
}
.figure1-text-container > div{
    color: white;
    font-size: 18px;
}
.figure1-text-container {
    margin-top: 20px;
}


@media screen 
and (max-width: 1100px) {
    .overview-img {
        width: 90%;
        height: auto;
    }
}
.button-container {
    display: flex;
    flex-direction: row;
    width: 92%;
    background-color: blue;
}

.button {
    height: 100px;

    width: 25%;
}



