@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body, html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100vw;
}
body {
    overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}




header {
    position: fixed;
    z-index: 1000;
}
.header-top-container {
    width: 100vw;
    height: 110px;
    background-color: #a62f00;
}
.h-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.h-logo {
    width: 135px;
    height: 110px;
    position: relative;
    margin-right: 90px;
}
.logo-container {
    width: 135px;
    height: 110px;
    position: relative;
    left: 8vw;
    z-index: 5;
    top: 0;
}
.h-menus {
    width: 80%;
    left: 120px;
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
}
.h-menu-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100px;
    top: 35%;
    position: relative;
}
.h-menu-humanpractices {
    width: 240px !important;
    left: -1%;
    position: relative;
}
#h-menu-dhumanpractices {
    width: 200px;
    left: 8%;
}
.h-menu-container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
}
.h-menu-title {
    color: #fdf8f5;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;}
.h-menu-container1 > img {
    width: 13px;
    height: 10px;
    top: 0px;
    margin-left: 2px;
    position: relative;
}
.h-menu-container2 {
    background-color: #ca8266;
    position: relative;
    width: 160%;
    height: 0px;
    left: -35%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    justify-content: space-around;
}
.HL {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}
.HL:visited {
    color: #fdf8f5;
}
.HL:hover {
    color: rgb(68, 68, 68);
}
.h-burger {
    right: 6vw;
    width: 47px;
    height: 40px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.line {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: whitesmoke;
}
.line1 {
    margin-bottom: 11px;
}
.line2 {
    margin-bottom: 11px;
}
.line1, .line3 {
    transform-origin: right;
}
.socials-container {
    position: absolute;
    left: 8vw;
    top: 5px;
    opacity: 0;
}
.ig-icon, .fb-icon {
    height: 42px;
    width: 42px;
    border-radius: 50%;

}
.mail-icon {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    top: 2px;
    position: relative;
}
.h-menuD {
    position: fixed;
    top: 25px;
    width: 100vw;
    background-color: #ca8266;
    z-index: -5;
    height: 1px;
    transition: height .5s;
    overflow-x: hidden;
    overflow-y: scroll;
}
.h-menuDvisible {
    height: 100vh;
}
.h-menuDinvisible {
    height: 1px;
}
.leaves-C2 {
    width: 500px;
    height: 500px;
    position: absolute;
    right: -100px;
    top: calc(100vh - 200px);
    transform: rotate(45deg);
}
.h-menuD-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 25%;
    position: relative;
}
.h-menuD-flex1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.burger-item {
    animation-name: toBlack;
    animation-duration: .3s;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    position: relative;
    width: min-content;
    cursor: pointer;
    transition: all 0.7 ease-in;
    color: black;
}
.burger-item:hover {
    animation-name: toOrange;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}
.burger-item:visited {
    color: black;
}
.burger-item > img {
    padding-right: 10px;
}
.burger-item-slide {
    animation: burger-item-slide .3s ease-out forwards 1;
}
.burger-item-slideout {
    animation: burger-item-slideout .3s ease-out forwards 1;
}
.burger-view {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40%;
    top: -100vh;
    animation: burger-view-in 1s ease-out forwards 1;
    border-radius: 50%;
    width: 200px;
    align-items: center;
    height: 200px;
    justify-content: center;
    background-color: #09251e;
    box-shadow: 2px 5px #284f45,
    3px 6px #284f45,
    5px 10px #284f45,
    7px 12px #284f45;
}
.burger-view-item {
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #fdf8f5;
    font-size: 15px;
}
.burger-view-item:visited {
    color: #fdf8f5;
}
.BM {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BM-item {
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 300;
    position: relative;
    width: min-content;
    cursor: pointer;
    opacity: 0;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.BACK {
    font-weight: 700;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: black;
}
.BM-project-i {
    left: -350%;
    animation-name: toBlack;
    animation-duration: .3s;
}
.BM-project-i:hover {
    animation-name: toOrange;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}
.toOrange {
    animation: toOrange .3s ease-out forwards 1;
}
.toBlack {
    animation: toBlack .3s ease-out forwards 1;
}














@media screen
and (min-width: 650px) {
    .burger-view {
        width: 400px;
        height: 400px;
    }
    .burger-view-item {
        font-size: 25px;
    }
    .h-menuD-flex1 {
        top: 0px;
    }
    .burger-item {
        font-size: 32px;
    }
    .BM-item {
        font-size: 32px;
    }
}
@media screen
and (min-width: 1000px) {
    .burger-view {
        width: 500px;
        height: 500px;
    }
    .burger-view-item {
        font-size: 35px;
    }
    .h-menuD-flex1 {
        top: 0px;
    }
    .burger-item {
        font-size: 40px;
    }
    .BM-item {
        font-size: 40px;
    }
}
@media screen
and (min-width: 650px)
and (max-height: 800px) {
    .burger-view {
        width: 300px;
        height: 300px;
    }
    .burger-view-item {
        font-size: 20px;
    }
    .h-menuD-flex1 {
        top: -30px;
    }
    .burger-item {
        font-size: 30px;
    }
    .BM-item {
        font-size: 30px;
    }
}
@media screen
and (min-width: 1200px) {
    .h-menuD {
        display: none;
    }
    .h-menus {
        display: flex;
    }
    .h-burger {
        display: none;
    }
}
.h-menu-container1 > img {
    top: 7px;
}
@media screen
and (max-width: 1400px) {
    .h-menu-title {
        font-size: 18px;
    }
    .h-menu-container1 > img {
        top: 7px;
    }
}








@keyframes toOrange {
    from {
        color: black;
    }
    to {
        color: #a62f00;
    }
}
@keyframes toBlack {
    from {
        color: #a62f00;
    }
    to {
        color: black;
    }
}
@keyframes burger-view-in {
    from {
        top: -100vh;
    }
    to {
        top: 0px;
    }
}
@keyframes burger-item-slide {
    from {
        left: 0;
    }
    to {
        left: 10px;
    }
}
@keyframes burger-item-slideout {
    from {
        left: 10px;
    }
    to {
        left: 0px;
    }
}
.h-C2-expand-200 {
    animation: h-C2-expand-200 .4s ease-out forwards 1; 
}
@keyframes h-C2-expand-200 {
    from {height: 0px;}
    to {height: 200px;}
}
.h-C2-dexpand-200 {
    animation: h-C2-dexpand-200 .4s ease-out forwards 1; 
}
@keyframes h-C2-dexpand-200 {
    from {height: 200px;}
    to {height: 0px;}
}


.header-smaller {
    animation: header-smaller .3s ease-out forwards 1;
}
@keyframes header-smaller {
    from {height: 110px;}
    to {height: 60px;}
}
.header-bigger {
    animation: header-bigger .3s ease-out forwards 1;
}
@keyframes header-bigger {
    from {height: 60px;}
    to {height: 110px;} 
}


.header-logo-smaller {
    animation: header-logo-smaller .5s ease-out forwards 1;
}
@keyframes header-logo-smaller {
    from {top: 0;}
    to {top: -130px}
}
.header-logo-bigger {
    animation: header-logo-bigger .5s ease-out forwards 1;
}
@keyframes header-logo-bigger {
    from {top: -130px;}
    to {top: 0px;}
}


.fadeTo1 {
    animation: fadeTo1 1s linear forwards 1;
}
@keyframes fadeTo1 {
    from {opacity: 0;}
    to {opacity: 1;}
}
.fadeTo0 {
    animation: fadeTo0 .3s linear forwards 1;
}
@keyframes fadeTo0 {
    from {opacity: 1;}
    to {opacity: 0;}
}



.line1-rotate {
    animation: line1-rotate .250s cubic-bezier(.75,.35,.29,.7) forwards 1;
}
@keyframes line1-rotate { 100% { -webkit-transform: rotate(-40deg); transform:rotate(-40deg); } }
.line3-rotate { 
    animation: line3-rotate .250s cubic-bezier(.75,.35,.29,.7) forwards 1;
}
@keyframes line3-rotate { 100% { -webkit-transform: rotate(40deg); transform:rotate(40deg); } }

.line1-unrotate {
    animation: line1-unrotate .25s ease-out forwards 1;
}
@keyframes line1-unrotate { 
    from{transform: rotate(-40deg);}
    to {transform: rotate(0deg);;}} 
.line3-unrotate {
    animation: line3-unrotate .25s ease-out forwards 1;
}
@keyframes line3-unrotate { 
    from{transform: rotate(40deg);}
    to {transform: rotate(0deg);;}}

.line2-translateX {
    transition: ease-in .3s;
    transform: translateX(150px);
}
@keyframes line1-unrotate { 
    from{transform: rotate(-40deg);}
    to {transform: rotate(0deg);;}} 
.line2-untranslateX {
    transform: translateX(0px);
    transition: ease-in .15s;
}
@keyframes line3-unrotate { 
    from{transform: rotate(40deg);}
    to {transform: rotate(0deg);;}}

