@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@700&display=swap');

* {
    font-weight: 500;
}
.containers {
    width: 100vw;
    height: 3000px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.container1 {
    height: 100vh;
    width: 100vw;
    background-color: #f3decb;
    position: relative;
    top: 0;
}

.c1-flex {
    display: flex;
    flex-direction: column;
    top: 20%;
    position: relative;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: space-around
}

.c1-flex-img{
    width: 250px;
    height: 250px;
}
.c1-flex-h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.c1-flex-scroll2 {
    padding-top: 20px;
    display: flex;
    height: 70px;
    width: 40px;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: scroll-arrow 2s linear infinite;
    opacity: 1;
}
.c1-flex-scroll1 {
    display: flex;
    height: 70px;
    width: 40px;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: scroll-arrow 2s linear infinite;
    opacity: 1;
}

.container2 {
    width: 100vw;
    height: 200vh;
    background-color: #9daba8;
}

.animated-line {
    width: 40px;
    padding-top: 20px;
    animation: scroll-arrow 2s linear infinite;
    position: relative;
}

.c2-info-box1 {
    width: 70vw;
    height: 150px;
    top: 200px;
    position: relative;
    border-radius: 20px;
    background-color: #ff9d4d;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px rgb(243, 184, 107),
                3px 6px rgb(243, 184, 107),
                5px 10px rgb(243, 184, 107),
                7px 12px rgb(243, 184, 107);
}

.text-container {
    width: 90%;
}
.info-text1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    opacity: 0;
}
.info-text-million {
    text-decoration: underline;
    color: #fdf8f5;
    font-weight: 550;
}
.info-text-thatmeans {
    font-size: 40px;
}

.c2-info-box2 {
    position: relative;
    top: 290px;
    width: 100vw;

}
.circle-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.circle1 {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    top: 200px;
    position: relative;    
    background-color: #09251e;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 2px 5px #284f45,
    3px 6px #284f45,
    5px 10px #284f45,
    7px 12px #284f45;
}
.circle2 {
    width: 650px;
    height: 650px;
    border-radius: 50%;
    background-color: #09251e;
    top: -120px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 2px 5px #284f45,
    3px 6px #284f45,
    5px 10px #284f45,
    7px 12px #284f45;
}
.text-container-circle {
    width: 80%;
    font-size: 27px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    color: #fdf8f5;
    
}
.circle-pourcentage {
    font-size: 180px;
    font-weight: 700;
}
.circle-million {
    font-size: 120px;
    font-weight: 700;
}

.linee {
    transform-origin: center;
    height: 3px;
    width: 102%;
    background-color: black;
    position: absolute;
    animation: line-rotate 5s linear forwards infinite;
    z-index: -2;
}
.leaves-C2 {
    right: -200px;
}

@keyframes line-rotate {
    from {transform: rotate(0deg);}
    to {
        transform: rotate(360deg);
    }
}
@keyframes scroll-arrow {
    0% {top: 0px;}
    50% {top: 15px;}
    100% {top: 0px;}
}



@media screen
and (max-height: 568px) {
    .container1 {
        height: 568px;
    }
}

@media screen
and (min-width: 700px) {
    .c1-flex-h1 {
        font-size: 45px;
        width: 400px;
    }
    .c1-flex > img {
        width: 240px;
        height: 240px;
    }

}

@media screen
and (min-width: 800px) {
    .container1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .c1-flex {
        flex-direction: row;
        width: 80%;
    }
    .c1-flex > img {
        width: 300px;
        height: 300px;
    }
    .c1-flex-h1 {
        margin-left: 70px;
    }
}

@media screen
and (min-width: 1100px) {
    .c1-flex {
        width: 80%;
    }
    .c1-flex > img {
        width: 350px;
        height: 350px;
    }
    .c1-flex-h1 {
        font-size: 47px;
    }
}

@media screen
and (min-width: 1250px) {
    .c1-flex {
        width: 80%;
    }
    .c1-flex > img {
        width: 500px;
        height: 500px;
    }
    .c1-flex-h1 {
        font-size: 60px;
    }
}
@media screen
and (min-width: 401px)
and (max-width: 850px) {
    .c2-info-box1 {
        box-shadow: none;
        float: none;
        width: 100%;
        border-radius: 0px;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }
    .text-container {
        width: 60%;
    }
    .info-text-thatmeans {
        font-size: 30px;
    }
    
}
@media screen
and (min-width: 0px)
and (max-width: 400px) {
    .c2-info-box1 {
        box-shadow: none;
        float: none;
        width: 100%;
        border-radius: 0px;
        align-items: center;
        justify-content: center;
        font-size: 10px;
    }
    .text-container {
        width: 60%;
    }
    .info-text-thatmeans {
        font-size: 18px;
    }
    
}

@media screen
and (min-width: 1001px)
and (max-width: 1450px) {
    .circle1 {
        width: 380px;
        height: 380px;
        top: 200px;
    }
    .circle2 {
        width: 550px;
        height: 550px;
    }
    .text-container-circle {
        font-size: 24px;
        
    }
    .circle-pourcentage {
        font-size: 140px;
        font-weight: 700;
    }
    .circle-million {
        font-size: 80px;
        font-weight: 700;
    }
}
@media screen
and (min-width: 750px)
and (max-width: 1000px) {
    .circle1 {
        width: 300px;
        height: 300px;
        top: 200px;
    }
    .circle2 {
        width: 450px;
        height: 450px;
    }
    .text-container-circle {
        font-size: 22px;
        
    }
    .circle-pourcentage {
        font-size: 130px;
        font-weight: 700;
    }
    .circle-million {
        font-size: 70px;
        font-weight: 700;
    }
}
@media screen
and (min-width: 650px)
and (max-width: 749px) {
    .circle1 {
        width: 300px;
        height: 300px;
        top: 70px;
    }
    .circle2 {
        width: 350px;
        height: 350px;
    }
    .text-container-circle {
        font-size: 18px;
        
    }
    .circle-pourcentage {
        font-size: 90px;
        font-weight: 700;
    }
    .circle-million {
        font-size: 70px;
        font-weight: 700;
    }
}
@media screen
and (min-width: 530px)
and (max-width: 649px) {
    .circle1 {
        width: 220px;
        height: 220px;
        top: 20px;
    }
    .circle2 {
        width: 290px;
        height: 290px;
    }
    .text-container-circle {
        font-size: 12px;
        
    }
    .circle-pourcentage {
        font-size: 60px;
        font-weight: 700;
    }
    .circle-million {
        font-size: 50px;
        font-weight: 700;
    }
}
@media screen
and (min-width: 400px)
and (max-width: 529px) {
    .circle1 {
        width: 180px;
        height: 180px;
        top: 20px;
        left: 20px;
    }
    .circle2 {
        width: 220px;
        height: 220px;
    }
    .text-container-circle {
        font-size: 12px;
        
    }
    .circle-pourcentage {
        font-size: 60px;
        font-weight: 700;
    }
    .circle-million {
        font-size: 50px;
        font-weight: 700;
    }
}
@media screen
and (min-width: 0px)
and (max-width: 399px) {
    .circle1 {
        width: 100px;
        height: 100px;
        top: 20px;
        left: 20px;
    }
    .circle2 {
        width: 140px;
        height: 140px;
    }
    .text-container-circle {
        font-size: 7px;
        
    }
    .circle-pourcentage {
        font-size: 30px;
        font-weight: 700;
    }
    .circle-million {
        font-size: 20px;
        font-weight: 700;
    }
}

sup {
    vertical-align: top;
    color: white;
}









/*
beige en bas            XXX
gradient                XXX
txt en noi              XXX
txt plus petit          
txt sur 4 lignes
icons vs goutte
background-gradienttt   XXX
*/