@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@700&display=swap');

* {
    font-weight: 500;
}
.containers {
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.container1 {
    height: 100vh;
    width: 100vw;
    background-color: #f3decb;
    position: relative;
    top: 0;

}

.c1-flex {
    display: flex;
    flex-direction: column;
    top: 20%;
    position: relative;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: space-around
}

.c1-flex-img{
    width: 250px;
    height: 250px;
}
.c1-flex-h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.c1-flex-scroll2 {
    padding-top: 20px;
    display: flex;
    height: 70px;
    width: 40px;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: scroll-arrow 2s linear infinite;
    opacity: 1;
}
.c1-flex-scroll1 {
    display: flex;
    height: 70px;
    width: 40px;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: scroll-arrow 2s linear infinite;
    opacity: 1;
}

.container2 {
    width: 100vw;
    position: relative;
    background-color: #bcc7c5;
}

.animated-line {
    width: 40px;
    padding-top: 20px;
    animation: scroll-arrow 2s linear infinite;
    position: relative;
}

.c2-info-box1 {
    width: 70vw;
    height: 150px;
    top: 200px;
    position: relative;
    border-radius: 20px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #09251e;
    box-shadow: 2px 5px #284f45,
    3px 6px #284f45,
    5px 10px #284f45,
    7px 12px #284f45;
}

.text-container {
    width: 90%;
}
.info-text1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    opacity: 0;
    color: #fdf8f5;
}
.info-text-million {
    text-decoration: underline;
    color: #fdf8f5;
    font-weight: 550;
}
.info-text-thatmeans {
    font-size: 40px;
}

.c2-info-box2 {
    position: relative;
    top: 290px;
    width: 100vw;

}
.circle-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.circle1 {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    top: 200px;
    position: relative;    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #ff9d4d;
    box-shadow: 2px 5px rgb(243, 184, 107),
                3px 6px rgb(243, 184, 107),
                5px 10px rgb(243, 184, 107),
                7px 12px rgb(243, 184, 107);
}
.circle2 {
    width: 650px;
    height: 650px;
    border-radius: 50%;
    top: -120px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #ff9d4d;
    box-shadow: 2px 5px rgb(243, 184, 107),
                3px 6px rgb(243, 184, 107),
                5px 10px rgb(243, 184, 107),
                7px 12px rgb(243, 184, 107);
}
.text-container-circle {
    width: 80%;
    font-size: 27px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    color: #160c07;
    
}
.circle-pourcentage {
    font-size: 180px;
    font-weight: 700;
}
.circle-million {
    font-size: 120px;
    font-weight: 700;
}
.tree {
    position: absolute;
    left: 0;
    height: 150%;
    width: auto;
}
.tree-trunk {
    left: 0;
    width: 8.7vh;
    background-color: rgb(55,29,18);
    position: absolute;
    top: 0;
    height: 100%;
}
.c2-HIM-container {
    width: 100%;
    padding-top: 450px;
    position: relative;
    z-index: 10;
}
.c2-HIM-container-flex {
    display: flex;
    flex-direction: column;
}
.HIM-container1-flex {
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;
    height: 20vw;
}
.HIM-container2-flex {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    width: 100%;
    height: 20vw;
}
.entaille {
    height: 60%;
    width: auto;
    z-index: 10;
    margin-left: 2vw;
}
.entaille2 {
    opacity: 0;
    height: 70%;
    width: auto;
}
.HIM-text-flex1 {
    width: 100%;
}
.HIM-text-flex2 {
    width: 85%;
    float: right;
    height: 40vw;
    position: relative;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #09251e;
    box-shadow: 2px 5px #284f45,
    3px 6px #284f45,
    5px 10px #284f45,
    7px 12px #284f45;
}
.HIM-text-flex2-modified {
    border-top-left-radius: 110px !important;
    border-bottom-left-radius: 110px !important;

}
.HIM-text-newcolor {
    background-color: #ff9d4d;
    box-shadow: 2px 5px rgb(243, 184, 107),
                3px 6px rgb(243, 184, 107),
                5px 10px rgb(243, 184, 107),
                7px 12px rgb(243, 184, 107);
}
.HIM-text-flex3 {
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4vw;
    color: #fdf8f5;
    height: 100%;
}
.goutte {
    transform: scaleX(-1);
    height: 200%;
    left: 21vw;
    width: auto;
}
.HIM-3rd-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.logo-HIM {
    height: 80%;
    width: auto;
}
.linee {
    transform-origin: center;
    height: 3px;
    width: 102%;
    background-color: black;
    position: absolute;
    z-index: -2;
}
.bold {
    font-weight: bold;
}
.black-text {
    color: #160c07;
}

.HIM-3rd-flex > div {
    margin-left: 1.5vw;
}
.c2-bottom-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: #bcc7c5;

}
.learn-more {
    width: 100%;
    height: 100px;
    margin-top: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #ff9d4d;
    box-shadow: 0px 10px rgb(243, 184, 107);
}
.learn-more-txt {
    margin-left: 17.2vw;
}
.grid-clickable {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-bottom: 100px;
    position: relative;
    left: 8.7vw;
}
.clickable {
    margin: 40px 30px 30px 30px;
    width: 260px;
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.clickable-container {
    border-radius: 6px;
    background-color: #0b2e26;
    width: 240px;
    height: 300px;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 5px #284f45,
    3px 6px #284f45;
}
.cc-flex {
    font-family: 'Montserrat', sans-serif;
    color: #fdf8f5;
}
.cc-flex > img {
    margin-bottom: 40px;
    width: 100px;
    height: 100px;
}
.cc-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cc-title {
    font-size: 28px;
    margin-bottom: 4px;
}
.cc-text {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}



@keyframes scroll-arrow {
    0% {top: 0px;}
    50% {top: 15px;}
    100% {top: 0px;}
}








@media screen
and (max-height: 568px) {
    .container1 {
        height: 568px;
    }
    .tree-trunk {
        width: 49px;
    }
}

@media screen
and (min-width: 700px) {
    .c1-flex-h1 {
        font-size: 45px;
        width: 400px;
    }
    .c1-flex > img {
        width: 240px;
        height: 240px;
    }
}

@media screen
and (min-width: 800px) {
    .container1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .c1-flex {
        flex-direction: row;
        width: 80%;
    }
    .c1-flex > img {
        width: 300px;
        height: 300px;
    }
    .c1-flex-h1 {
        margin-left: 70px;
    }
    .grid-clickable {
        grid-template-columns: auto auto;
    }
    .clickable {
        margin: 80px 30px 30px 30px;
    }
}

@media screen
and (min-width: 1100px) {
    .c1-flex {
        width: 80%;
    }
    .c1-flex > img {
        width: 350px;
        height: 350px;
    }
    .c1-flex-h1 {
        font-size: 47px;
    }
}

@media screen
and (min-width: 1250px) {
    .c1-flex {
        width: 80%;
    }
    .c1-flex > img {
        width: 500px;
        height: 500px;
    }
    .c1-flex-h1 {
        font-size: 60px;
    }
}
@media screen
and (min-width: 601px)
and (max-width: 850px) {
    .c2-info-box1 {
        box-shadow: none;
        float: none;
        width: 100%;
        border-radius: 0px;
        align-items: center;
        justify-content: center;
        font-size: 9px;
    }
    .text-container {
        width: 60%;
    }
    .info-text-thatmeans {
        font-size: 30px;
    }
    
}
@media screen
and (min-width: 0px)
and (max-width: 600px) {
    .c2-info-box1 {
        box-shadow: none;
        float: none;
        width: 100%;
        border-radius: 0px;
        align-items: center;
        justify-content: center;
        font-size: 7px;
    }
    .text-container {
        width: 60%;
    }
    .info-text-thatmeans {
        font-size: 18px;
    }    
}
@media screen
and (min-width: 851px)
and (max-width: 1200px) {
    .c2-info-box1 {
        font-size: 11px;
    }
    .text-container {
        width: 85%;
    }
    .info-text-thatmeans {
        font-size: 30px;
    }
}
@media screen
and (min-width: 1200px){
    .c2-info-box1 {
        font-size: 14px;
    }
    .text-container {
        width: 95%;
    }
    .info-text-thatmeans {
        font-size: 30px;
    }
    .learn-more {
        margin-top: 190px;
    }
}
@media screen
and (min-width: 1001px)
and (max-width: 1450px) {
    .circle1 {
        width: 380px;
        height: 380px;
        top: 200px;
    }
    .circle2 {
        width: 550px;
        height: 550px;
    }
    .text-container-circle {
        font-size: 24px;
        
    }
    .circle-pourcentage {
        font-size: 140px;
        font-weight: 700;
    }
    .circle-million {
        font-size: 80px;
        font-weight: 700;
    }
}
@media screen
and (min-width: 750px)
and (max-width: 1000px) {
    .circle1 {
        width: 300px;
        height: 300px;
        top: 200px;
    }
    .circle2 {
        width: 450px;
        height: 450px;
    }
    .text-container-circle {
        font-size: 22px;
        
    }
    .circle-pourcentage {
        font-size: 130px;
        font-weight: 700;
    }
    .circle-million {
        font-size: 70px;
        font-weight: 700;
    }
}
@media screen
and (min-width: 650px)
and (max-width: 749px) {
    .circle1 {
        width: 300px;
        height: 300px;
        top: 70px;
    }
    .circle2 {
        width: 350px;
        height: 350px;
    }
    .text-container-circle {
        font-size: 18px;
        
    }
    .circle-pourcentage {
        font-size: 90px;
        font-weight: 700;
    }
    .circle-million {
        font-size: 70px;
        font-weight: 700;
    }
}
@media screen
and (min-width: 530px)
and (max-width: 649px) {
    .circle1 {
        width: 220px;
        height: 220px;
        top: 20px;
    }
    .circle2 {
        width: 290px;
        height: 290px;
    }
    .text-container-circle {
        font-size: 12px;
        
    }
    .circle-pourcentage {
        font-size: 60px;
        font-weight: 700;
    }
    .circle-million {
        font-size: 50px;
        font-weight: 700;
    }
}
@media screen
and (min-width: 400px)
and (max-width: 529px) {
    .circle1 {
        width: 180px;
        height: 180px;
        top: 20px;
        left: 20px;
    }
    .circle2 {
        width: 220px;
        height: 220px;
    }
    .text-container-circle {
        font-size: 12px;
        
    }
    .circle-pourcentage {
        font-size: 60px;
        font-weight: 700;
    }
    .circle-million {
        font-size: 50px;
        font-weight: 700;
    }
}
@media screen
and (min-width: 0px)
and (max-width: 399px) {
    .circle1 {
        width: 100px;
        height: 100px;
        top: 20px;
        left: 20px;
    }
    .circle2 {
        width: 140px;
        height: 140px;
    }
    .text-container-circle {
        font-size: 7px;
        
    }
    .circle-pourcentage {
        font-size: 30px;
        font-weight: 700;
    }
    .circle-million {
        font-size: 20px;
        font-weight: 700;
    }
}

@media screen
and (min-width: 850px) {
    .HIM-text-flex2 {
        height: 300px;
    }
    .HIM-text-flex3 {
        font-size: 20px;
    }
}
@media screen
and (min-width: 1250px) {
    .HIM-text-flex3 {
        font-size: 23px;
    }
}
@media screen
and (min-width: 1200px) {
    .grid-clickable {
        grid-template-columns: auto auto auto;
        left: 0;
    }
    .clickable {
        margin: 80px 30px 30px 30px;
    }
    .learn-more-txt {
        margin-left: 0;
        font-size: 40px;
    }
}

sup {
    vertical-align: top;
    color: white;
}









/*
beige en bas            XXX
gradient                XXX
txt en noi              XXX
txt plus petit          
txt sur 4 lignes
icons vs goutte
background-gradienttt   XXX
*/