@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body, html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100vw;
}
body {
    overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}

.containers {
    display: flex;
    flex-direction: column;
    width: 100vw;
}


.container1 {
    font-weight: bold;
    font-size: 50px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    background-color: #f3decb;
    position: relative;
    top: 0;
}

.team-icon {
    position: relative;
    width: 70px;
    border-radius: 50%;
    top: 20px;
    right: -20px;
    animation: team-icon-rotate 2.5s linear infinite;
}

.meet-container {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.meet-text-container {
    width: 100vw;
    position: absolute;
    bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 110px;
    height: calc(100% - 110px);
}

.meet-text {
    border-radius: 20px;
    font-weight: 100;
    padding: 30px;
    font-size: 23px;
    width: 90%;
    position: relative;
    text-align: justify;
    background-color: #ff9d4d;
    box-shadow: 2px 5px rgb(243, 184, 107),
                3px 6px rgb(243, 184, 107),
                5px 10px rgb(243, 184, 107),
                7px 12px rgb(243, 184, 107);
    line-height: 35px;
}


.meet-our-team {
    margin-bottom: 50px;
    font-size: 40px;
    position: relative;
    top: 25px;
}
.meet-our-team:before {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 250px;  /* or 100px */
    border-bottom: 2px solid #af441a;
  }
  

.container2 {
    width: 100vw;
    background-color: #f3decb;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 150px;
}

.attr-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    margin-bottom: 120px;
}
.subtitle {
    font-size: 16px;
    font-weight: bold;
}
.smallerTitle {
    font-size: 24px !important;
}

.attr-title-flex {
    background-color: #0b2e26;
    box-shadow: 0px 1px #284f45,
    1px 2px #284f45,
    2px 3px #284f45,
    3px 4px #284f45,
    4px 5px #284f45,
    5px 6px #284f45,
    6px 7px #284f45,
    7px 8px #284f45,
    8px 9px #284f45;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light {
    background-color: #ffc290 !important;
    box-shadow: 2px 5px #ff9d4d,
    3px 6px #ff9d4d,
    5px 10px #ff9d4d,
    7px 12px #ff9d4d;
}

.attr-text-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attr-text {
    color: #fdf8f5;
    width: 90%;
    text-align: justify;
    padding-bottom: 15px;
    font-size: 15px;
}

.arrow-container {
    width: 100px;
    height: 100px;
    width: 100vw;
    height: 200px;
}
.arrow {
    margin-top: 5px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}

.arrow1 {
    left: -70px;
    width: 100px;
    height: 200px;
    background-image: url('./assets/arrow1.png');
}

.arrow2 {
    left: 150px;
    width: 100px;
    height: 200px;
    background-image: url('./assets/arrow2.png');
}

.arrow3 {
    left: -80px;
    width: 100px;
    height: 200px;
    background-image: url('./assets/arrow3.png');
}

.arrow4 {
    left: 160px;
    width: 100px;
    height: 200px;
    background-image: url('./assets/arrow4.png');
}

.arrow5 {
    left: -150px;
    width: 100px;
    height: 200px;
    background-image: url('./assets/arrow5.png');
}
.light > h1 {
    color: #160c07 !important;
}
.light > div > div {
    color: #160c07
}

.attr-title {
    border-bottom: 2px solid #af441a;
    margin-bottom: 15px;
    padding-top: 15px;
    color: #fdf8f5;
}

.attr-img-science {
    width: 40%;
    height: 40%;
}


@media screen
and (min-width: 800px) {
    .attr-text {
        font-size: 18px;
    }
}
@media screen
and (min-width: 1300px) {
    .attr-text {
        font-size: 22px;
    }
}
@media screen
and (min-width: 0px)
and (max-width: 500px) {
    .attr-title-flex {
        width: 100%;
    }
    .smallerTitle {
        font-size: 15px !important;
    }
    .container1 {
        font-size: 35px;
    }
    .attr-title {
        font-size: 24px;
    }
}