@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body, html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100vw;
}
body {
    overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}

.containers {
    display: flex;
    flex-direction: column;
    width: 100vw;
}


.container1 {
    width: 100vw;
    background-color: #f3decb;
    position: relative;
    top: 0;
}

.title-flex {
    margin-bottom: 100px;
    height: 250px;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 0px;
}
.scrollables-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.scrollable {
    width: 85%;
    height: 30px;
}